header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#757777,#83bcbc);
    background-size: cover; 
    background-position: center; 
    height: 458px; 
    width: 100%; 
    font-weight: auto;
    align-items: center; 
    color: white;
}

main{
    padding: 40px 60px 0px 60px;
}
.input-container {
    position: relative;
}
.input-field {
    padding-left: 2.5rem; /* Space for the icon */
    padding-top: 10px; /* Padding for top */
    padding-bottom: 10px; /* Padding for bottom */
    background-color: #eaeaea; /* Background color for the input */
}
.input-icon {
    position: absolute;
    left: 0.75rem; /* Adjust left positioning */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    color: #4B5563; /* Icon color */
}
.toggle-icon {
    position: absolute;
    right: 0.75rem; /* Position for the toggle icon */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    cursor: pointer; /* Change cursor to pointer */
    color: #4B5563; /* Icon color */
}


/*Use only for Forget PIN*/
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.7); /* Black with transparency */
    z-index: 1; /* Sit on top */
    justify-content: center; /* Center the popup */
    align-items: center; /* Center the popup */
}
.popup-content {
    background-color: white; /* White background */
    padding: 20px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Centered text */
}
.close-btn {
    margin-top: 10px; /* Space above button */
    background-color: #108480F7; /* Button color */
    color: white; /* Text color */
    border: none; /* No borders */
    padding: 10px; /* Padding inside button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}
